# Ignore virtual environment directories
venv/
**/venv/
env/

# Ignore git update script
auto_push_SpacGPA_dev_1.sh
auto_push_SpacGPA_dev_1.log

# Ignore Python cache files
__pycache__/
**/__pycache__/
*.pyc

# Ignore VS Code settings
.vscode/

# Ignore test data and figures (but not ignore folder)
data/
data/*
figures/
figures/*

# Ignore Jupyter notebook
tutorial/
tutorial/demo/*
tutorial/*html
tutorial/*ipynb

# Ignore Annotation files
SpacGPA/
SpacGPA/Ref_for_Enrichment/*

# Ignore OS-specific files
.DS_Store
Thumbs.db